body{
    display: flex;
    /* background-image: url("../images/bg.jpg"); */
    /* background-color:#010101; */
    background-color: #f5f8fb;
    /* background-color: #ff0000; */

    background-image: linear-gradient((to right, transparent 50%, #0a110e 50%, #000000a6));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    /* width: 100vw; */
}


.gifCmContent{
    width:45%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background-color: green; */
}

.gifCm{
    width:58%;
    height:60%;
    height:auto;
    /* background-color: blue; */
    
}





.bgCmFrame{
    width: 100vw;
    height: 102vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(198, 212, 233); */
    background-color: rgba(0, 0, 0, 0.998);
    margin-top: -1%;
    /* background-image: url("../images/user.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.frameContent
{
    font-family: sans-serif;
    width: 90%;
    height: auto;
    max-height: 85vh;
    background-color:#191c1bab;
    /*background-color:rgba(151, 8, 63, 0.624);
    */color: white;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(42, 41, 41, 0.289) 0px 33px 36px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    backdrop-filter: blur(5px) sepia(20%) saturate(120%); 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/*****Grand image**** */
.logoCmOrigamiContent{
    width: 5%;
    height: 5%; 
    background-color: #286050;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:solid 3px rgba(43, 192, 150, 0.083); */
}
@-webkit-keyframes SlowFloat {
    0% { transform: translateY(-4px); -webkit-transform: translateY(-4px); -moz-transform: translateY(-4px); -ms-transform: translateY(-4px); -o-transform: translateY(-4px); }
    100% { transform: translateY(4px); -webkit-transform: translateY(4px); -moz-transform: translateY(4px); -ms-transform: translateY(4px); -o-transform: translateY(4px); }
}
.logoCmOrigami{
    width: 80%;
    height: 80%;
    animation: SlowFloat 1s infinite  alternate;
    -webkit-animation: SlowFloat 1s infinite  alternate;
}
.grid1 {
    position: relative; /* Ajout d'une position relative pour le conteneur principal */
    width: 25%;
    margin: 0 3%;
    margin-left: 0;
    height: 90vh;
    /* background-color: #434544; */
    /* background-color: red; */
    top: -5vh;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.grid1 .image-container {
    margin-right: 0px;
    height: 106%; /* Ajuste la hauteur du conteneur image-container à 100% */
    overflow: hidden; /* Masque le contenu débordant de l'image-container */
}

.grid1 .G-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContent {
    position: absolute;
    bottom: 5%;
    width: 90%;
    text-align: center;
    color: white;
    padding: 10px;
    backdrop-filter: blur(2px) sepia(20%) saturate(120%); 
    border-radius: 8px;
    z-index: 2; /* Assure que le contenu est au-dessus du dégradé */
}

.cardContent h1 {
    font-size: 20px;
}

.cardContent p {
    font-size: 14px;
    text-align: center;
}

.sci {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.iconMember{
    width: 30px;
    height: 30px;
    -o-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;

}
.iconMember:hover{
    background-color: rgb(49, 232, 180);
    box-shadow: 0px 0px 50px rgb(49, 232, 180);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.roundIconMember:hover{
    border-radius: 100%;
    
}
.squareIconMember:hover{
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

/* ****about me ***** */
.grid2 {
    display: flex;
    width: 65%;
    display: flex; /* Utilisation de Flexbox pour le positionnement des éléments */
    flex-direction: column; /* Affichage en colonne pour les éléments enfants */
    justify-content: space-evenly;
    align-items: center; /* Centre les éléments horizontalement */
}

.boite1 p{
    text-align: left;
    font-size:14px;
}
.boite1 h1, .boite2 h1{
    font-size: 25px;
}
.boite1 span{
    color:  rgb(49, 232, 180);
    font-size: 17px;
    
}

.boite1
{

    border-bottom: 3px solid  rgb(69, 71, 71);
    margin: 0 5%;
}

.boite2 {
    border-bottom: 3px solid rgb(69, 71, 71);
    margin: 10px 5%;
    max-width: 100%;
    position: relative; /* Ajout de position relative pour les listes dégradées */
    overflow: hidden; /* Pour cacher le contenu débordant */
}

.boite2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Hauteur du dégradé, ajustez selon vos besoins */
    z-index: 1; /* Pour placer le dégradé derrière le contenu */
}

.service-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si besoin */
    justify-content: space-between; /* Répartit les éléments sur la largeur */
}



.service-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.serviceClass {
    width: 30%; /* Pour afficher deux éléments par ligne, ajustez selon vos besoins */
    margin-bottom: 20px; /* Espace entre les éléments */
}
.service
{
    margin: 2% 2% 0 0;
}
.service .scTitle{
    font-size: 17px;
    color:  #31e8b4;
}
.service p{
    font-size: 12px;
}
.grid2 .logo{
    display: none;

}
.grid2 .navContent{
    justify-content: flex-end;
    /* background-color: rgb(216, 13, 77); */
    width: 90%;
    height: 4%;
    height: auto;
    margin-top: 0%;
    
}
.grid2 .activeNav{
    display: flex!important;
}
.grid2 .nav{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: auto;
    /* background: rgb(92, 114, 0); */
    align-self: flex-start;
}
@media screen and (max-width:1075px) {
    /* responsive */
    .grid2 .nav{
        margin-top: 1%;
    }
}
@media screen and (max-width:1000px) {
    /* responsive */
    .grid2 .nav{
        /* margin: 0; */
        display: none;
        position: absolute;
        top:0%;
        right: 3%;
        width: 40%;
        height: 40vw;
        justify-content: space-evenly;
    }
}

/* Styles pour les écrans de petite taille (mobiles) */
@media (max-width: 767px) {
    .serviceClass {
        width: 90%; /* Pour afficher deux éléments par ligne, ajustez selon vos besoins */
        margin-bottom: 0; /* Espace entre les éléments */
    }
    
    .grid1{
        width: 50%;
    }
    .grid2{
        width:50%
    }
    .imgCmApr{
        display:none;
    }
  

    .G-img {
        margin: 0; /* Supprime la marge pour occuper toute la largeur */
        width: 10%;
        height: auto;
    }



    

    .boite1 h1, .boite2 h1 {
        font-size: 18px;
    }
    .boite1 span, .boite2 .scTitle {
        font-size: 15px;
    }

    .service-container {
        flex-direction: column;
    }

  

    .service p, .boite1 p {
        font-size: 10px;
    }
    /* Yess */
    
    
    
   

}

.contentCMmore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.titleWorkCM{
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
    background-color: rgb(30, 54, 61);
    width: 30%;
    height: 4%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}
.textContentCM1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: yellow; */
}
.rightCM{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftCM{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.classTitleSection{
    font-family: sans-serif;
    color: #010101;
    font-size: 3vw;
    font-weight: bold;
}

.paraCM{
    font-family: sans-serif;
    color: #010101;
    font-size: 1.5vw;

}
.imgCM{
    width: 90%;
}

.devisContent{
    display: flex;
    width: 100vw;
    height: 100px;
    /* background-color: red; */
    /* height: auto; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:750px) {
    .titleWorkCM{
        font-size: 17px;
        width: 30%;
        height: 4%;
        
    }
}