*{
    transition: 0.7s ease-in-out;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
}
 body{
            display: flex;
        /* background-image: url("../images/bg.jpg"); */
        /* background-color:#010101; */
        background-color: #f5f8fb;
        /* background-color: #ff0000; */

        background-image: linear-gradient((to right, transparent 50%, #0a110e 50%, #000000a6));
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        overflow-x: hidden;
        /* width: 100vw; */
    }
    .bg7
    {
        width: 90vw;
        height: 88vh;
        background-color:#ffffffc2;
        color: white;
        display: flex;
        flex-direction: row;
        margin-top:3% ;
        box-shadow: rgba(240, 240, 240, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    }
    .bg8
    {
        width: 95%;
        height: auto;
        /* background-color:#e30909c2; */
        color: white;
        display: flex;
        box-shadow: rgba(240, 240, 240, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        align-self: center;
        background-color: white;
    }
    .content
    {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .table
    {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .table h1 {
        font-size: 60px;
        
        background-image: linear-gradient(-225deg, #0B54CB, #00aacc, #00cc66, #BCF925, #ffffff);
        background-clip: text;
        -webkit-background-clip: text; /* Pour la compatibilité avec certains navigateurs */
        color: transparent;
    }
    .table h2 {
        font-size: 30px;
        color: #40484e;
    }
    
    .table p {
        font-size: 16px;
        color: #3d4445;
    }  

    .table3 {
        width: 40%;
        /* background-color: #007d30;  */
        box-sizing: border-box;
        height: auto;
    }
    
    .table4 {
        width: 40%;
        /* background-color: #fb0404; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .basContent
    {
        width: 20%;
        align-content: center;
        align-self: flex-end;
        /* background-color: rgb(11, 255, 27); */
        height: 10%;
        display:flex;
        justify-content: space-evenly;
    }

    button {
        background: linear-gradient(-225deg, #0B54CB, #00aacc, #00cc66, #BCF925, #ffffff);
        color: #ffffff;
        border: 2px solid #1395e6;
        top: 30px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: 0.7s ease-in-out!important;
        -webkit-transition: 0.7s ease-in-out!important;
        -moz-transition: 0.7s ease-in-out!important;
        -ms-transition: 0.7s ease-in-out!important;
        -o-transition: 0.7s ease-in-out!important;
}
      
      button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(-225deg, #0B54CB, #00aacc, #00cc66, #BCF925, #ffffff);
        z-index: -1;
        opacity: 0;
        transition: 0.7s ease-in-out;
        -webkit-transition: 0.7s ease-in-out;
        -moz-transition: 0.7s ease-in-out;
        -ms-transition: 0.7s ease-in-out;
        -o-transition: 0.7s ease-in-out;
}
      
      button:hover {
        background: linear-gradient(135deg, #a6b4cb, #ffffff);
        color: #157ed3;
        transition: 0.7s ease-in-out;
        -webkit-transition: 0.7s ease-in-out;
        -moz-transition: 0.7s ease-in-out;
        -ms-transition: 0.7s ease-in-out;
        -o-transition: 0.7s ease-in-out;
        animation: 1.3s colorAnim infinite  alternate;
        -webkit-animation: 1.3s colorAnim infinite  alternate;
}
@-webkit-keyframes colorAnim {
    0% {
        background: linear-gradient(-225deg, #0B54CB, #00aacc, #00cc66, #BCF925, #ffffff);
       box-shadow: #0B54CB 0px 0px 30px 0px;
       transition: 0.7s ease-in-out;
       border-color: #0B54CB;
}
50% {
    background: linear-gradient(-225deg, #531f5f, #ad00cc, #b400cc95, #f2b4ec, #ffffff);
    box-shadow: #531f5f 0px 0px 30px 0px;
    transition: 0.7s ease-in-out;
    border-color: #531f5f;
}
100% {
    background: linear-gradient(-225deg, #680101, #bb365e, #ff9cc7, #fbb2f7, #ffffff);
    box-shadow: #680101 0px 0px 30px 0px;
    transition: 0.7s ease-in-out;
    border-color: #680101;
}
}
      
      button:hover::before {
        opacity: 1;
        transition: 0.7s ease-in-out;
        -webkit-transition: 0.7s ease-in-out;
        -moz-transition: 0.7s ease-in-out;
        -ms-transition: 0.7s ease-in-out;
        -o-transition: 0.7s ease-in-out;
}
      
    .imageContact {
        margin-left: 0%;
        margin-top: 20%;
    }
      
    .form {
        width: 90%;
        text-align: center;
        background-color: transparent;
        border-radius: 5px;
        /* background-color: red; */
    }
    
    .form h1 {
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .form h2 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #007bff;
    }
    
    .form p {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .form input {
        width: 97%;
        padding: 1%;
        height: auto;
        margin-bottom: 10px;
        border: none; /* Supprime la bordure */
        border-bottom: 1px solid #ccc; /* Ajoute un soulignement */
      }
      
      .form button {
        background: linear-gradient(-225deg, #0B54CB, #00aacc, #00cc66, #ffffff);
        color: #ffffff;
        border: 1px solid  #ffffff; /* Ajoute une bordure au bouton */
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        width: 100%; /* Ajuste la longueur du bouton pour qu'il s'adapte à la largeur du formulaire */
      }
      
      .form button:hover {
        background: linear-gradient(135deg, #007bff, #0056b3);
      }

        .sci {
            display: flex;
            justify-content: center;
            margin-top: 500px;
        }

        .iconMember{
            width: 30px;
            height: 30px;
            -o-transition: ease-in-out 0.5s;
            -webkit-transition: ease-in-out 0.5s;
            -moz-transition: ease-in-out 0.5s;
            -ms-transition: ease-in-out 0.5s;
            transition: ease-in-out 0.5s;
        
        }
        .iconMember:hover{
            background-color: rgb(49, 232, 180);
            box-shadow: 0px 0px 50px rgb(49, 232, 180);
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
        }



        @-webkit-keyframes SlowFloat {
            0% { transform: translateY(-4px); -webkit-transform: translateY(-4px); -moz-transform: translateY(-4px); -ms-transform: translateY(-4px); -o-transform: translateY(-4px); }
            100% { transform: translateY(4px); -webkit-transform: translateY(4px); -moz-transform: translateY(4px); -ms-transform: translateY(4px); -o-transform: translateY(4px); }
        }
        

        .container {
            display: flex;
            /* background-color: blue; */
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        
        
        .map iframe {
            width: 100%;
            height:70vw;
            max-height: 70vh;
        }














        
.bgCmUp{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    width:100vw;
    height: auto;
    background-color: #000913;
    flex-direction: column;
    }

    .map{
        width: 100%;
        height: auto;
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .contact{
      text-align: center;
      color:#129fdb;
      font-size: 30px;
    }
    
    .contactC{
      width: 100%;
      background-color: rgba(11, 255, 27, 0);
      height: 10%;
      display: flex;
      justify-content: flex-start;
      
    
    }
    .contactI{
      width: 50px;
      height: auto;
      cursor: pointer;
    }
    .contactI:hover{
      background-color: #0781de;
      border-radius: 50%;
      box-shadow: 3px 3px 23px 3px #0781de;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transform: translateY(-2%);
      -webkit-transform: translateY(-2%);
      -moz-transform: translateY(-2%);
      -ms-transform: translateY(-2%);
      -o-transform: translateY(-2%);
    }
    .contactI.square:hover{
      border-radius: 20%;
      -webkit-border-radius: 20%;
      -moz-border-radius: 20%;
      -ms-border-radius: 20%;
      -o-border-radius: 20%;
    }
    
    .animate-charcter
    {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #0B54CB,#00aacc, #00cc66,#BCF925, #ffffff);
    background-size: auto auto;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite, SlowFloat 1s infinite  alternate;
    display: inline-block;
    font-size: 30px;
    font-family: Arial, sans-serif;
    -webkit-animation: textclip 2s linear infinite, SlowFloat 1s infinite  alternate;
    }
    
    .emptyDiv{
        display: flex;
        width: 100%;
        height: 50px;
        /* background-color: red; */
    }


    @keyframes textclip {
    to {
        background-position: 200% center;
    }
    }

    .imgContactGood{
        width: 80%;
        height: auto;
    }
@media screen and (max-width:1000px) {
    .content
    {
        flex-direction: column;
    }
    .table3{
        width: 100%;
    }
    .table4{
        width: 100%;
    }
    .bg8{
        width: 98%;
    }
    .contactI{
        width: 10%;
        height: auto;
        margin-left: 3%;
        cursor: pointer;
        }

    .basContent{
        align-self: center;
        
    }
}
.contentTarification{
    width: 100vw;
    height: 50vw;
    max-height: 80vh;
    background-color: rgba(255, 255, 255, 0.943);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.leftTarif{
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 90%;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;

}
.titleLeftTarif{
    color: #06122bdc;
    font-family: sans-serif;
    font-size: 3vw;
}
.paraLeftTarif{
    color: #06122ba6;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
}
.rightTarif{
    width: 55%;
    display: flex;
    height: 90%;
    /* background-color: rgb(0, 255, 153); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.planTarif{
    width: 90%;
    height: 24%;
    background-color: blueviolet;
    cursor: pointer;
    transform: rotateY(-35deg) rotateX(15deg);
    transition: 0.7s;
    /* box-shadow: rgba(0, 2, 6, 0.415) 0px 0px 35px 0px; */
    -webkit-transform: rotateY(-35deg) rotateX(15deg);
    -moz-transform: rotateY(-35deg) rotateX(15deg);
    -ms-transform: rotateY(-35deg) rotateX(15deg);
    -o-transform: rotateY(-35deg) rotateX(15deg);
    margin-top: -2%;
    display: flex;
    perspective: 1000px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0,0,0,.2);
    border-right: 2px solid rgba(0,0,0,.2);
    border-radius:10px;
}
.planTarif:nth-child(1){
    z-index: 4;
    background-image: linear-gradient(135deg ,#ef6ecd, #fc00df);
}
.planTarif:nth-child(2){
    z-index: 3;
    background-image: linear-gradient(135deg, #ff8d71, #c35b0a);
}
.planTarif:nth-child(3){
    z-index: 2;
    background-image: linear-gradient(135deg, #74d5d0, #00e9e1);
}
.planTarif:nth-child(4){
    background-image: linear-gradient(135deg, #0d2946, #001e3e94);
    z-index: 1;
}

.planTarif:hover{
    transform: translateY(10px)  rotateY(-35deg) rotateX(15deg) scale(1.2);
    z-index:4;
    -webkit-transform: translateY(10px)  rotateY(-35deg) rotateX(15deg) scale(1.2);
    -moz-transform: translateY(10px)  rotateY(-35deg) rotateX(15deg) scale(1.2);
    -ms-transform: translateY(10px)  rotateY(-35deg) rotateX(15deg) scale(1.2);
    -o-transform: translateY(10px)  rotateY(-35deg) rotateX(15deg) scale(1.2);
    box-shadow: rgba(255, 255, 255, 0.905) 0px 0px 35px 0px;

}

.planTarif:nth-child(1):hover{
    box-shadow: rgb(255, 0, 251) 0px 0px 35px 0px;

}

.planTarif:nth-child(2):hover{
    box-shadow: rgb(0, 183, 70) 0px 0px 35px 0px;
}
.planTarif:nth-child(3):hover{
    box-shadow: rgb(0, 200, 255) 0px 0px 35px 0px;
}
.planTarif:nth-child(4):hover{
    box-shadow: rgb(3, 52, 131) 0px 0px 35px 0px;
}

.logoPlanTarifContent{
    width: 20%;
    height: 80%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoPlanTarif{
    width: 70%;
    height: auto;
}
.descriPlanTarifContent{
    width: 64%;
    height: 95%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.descriTitlePlanTarif{
    /* background-color: green; */
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    font-family: sans-serif;
    font-size: 1.5vw;
    margin: 0;
    color: rgba(255, 255, 255, 0.951);
}
.descriPlanTarif{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 50%;
    font-size: 1vw;
    /* background-color: gray; */
    font-family: sans-serif;
    margin: 0;
    color: rgba(255, 255, 255, 0.829);
    text-align: left;
}
.pricePlanTarifContent{
    width: 15%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: #ffffffac dotted  3px ;
}
.pricePlanTarif{
    text-align: center;
    /* background-color: blue; */
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.2vw;
}










        