*{
    transition: 0.3 ease-in-out;
    -webkit-transition: 0.3 ease-in-out;
    -moz-transition: 0.3 ease-in-out;
    -ms-transition: 0.3 ease-in-out;
    -o-transition: 0.3 ease-in-out;
}


body{
    display: flex;
    /* background-image: url("../images/bg.jpg"); */
    background-color:#ffffffeb;
    background-color:#000913;
    /* background-color: #ff0000; */

    background-image: linear-gradient((to right, transparent 50%, #0a110e 50%, #000000a6));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    /* width: 100vw; */
}
    .containerDev{
        background-color: red;
        height: auto;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 20px;
        flex-direction: column;
        background-color:#000913;
        /* background-image: url("../images/gr.gif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; */
    }
    .emptyDivDev{
        width: 100%;
        height: 100px;
    }
    .titleDev{
        color: #ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        width: 100%;
        height: 100px;
        font-family: sans-serif;
        margin-top: 5%;
        
    }
    
      .responsive
      {
          height: auto;
          width: 13vw ;
          
          
      }      /* responsive */
   
    
 
   
    .iconDev{
        /* background-color: rgb(183, 0, 255); */
        width: 30%;
        height: 20%;
        animation: SlowFloat 1s infinite  alternate;
        -webkit-animation: SlowFloat 1s infinite  alternate;
}
    .goodDevContent{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(175, 226, 226);
        margin-top: 5%;
    }
    .goodDevText{
        font-size: 25px;
        font-family: sans-serif;
        text-align: center;

    }
    .ori{
        font-weight: bold;
    }







    @-webkit-keyframes SlowFloat {
        0% { transform: translateY(-3px); -webkit-transform: translateY(-3px); -moz-transform: translateY(-3px); -ms-transform: translateY(-3px); -o-transform: translateY(-3px); }
        100% { transform: translateY(3px); -webkit-transform: translateY(3px); -moz-transform: translateY(3px); -ms-transform: translateY(3px); -o-transform: translateY(3px); }
    }





    
    @media screen and (max-width:800px) {
        .serviceInfoContent{
            flex-direction: column;
        }
        .sectionDev{
            width:90%;
            height:auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .titleInfo{
            text-align: center;
            font-size: 27px;
        }
        .textContentDev{
            text-align: justify;
            font-size: 17px;

        }
        .titleDev{
            font-size: 25px;
            
            
            
        }
        .iconDev{
            /* background-color: rgb(183, 0, 255); */
            height: auto;
            
    }
        
    }
    @media screen and (max-width:800px) {
        
        .titleDev{
            font-size: 20px;
            
            
        }

        
    }




.textContentDevC{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftDevC{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}
.textDevC{
    color: white;
    font-size: 2vw;
    font-family: sans-serif;
    width: 80%;
    height: auto;
}
.rightDevC{
    width: 40%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    /* background-color: red; */
    perspective: 1000px;

    
}
.imgDevC{
    transform: rotateY(10deg);
    width: 60%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: #8686863e 0px 0px 30px 14px;
    -webkit-transform: rotateY(10deg);
    -moz-transform: rotateY(10deg);
    -ms-transform: rotateY(10deg);
    -o-transform: rotateY(10deg);
    transform-origin: center;
    animation: rotateAnimation 1s linear infinite alternate;
    -webkit-animation: rotateAnimation 1s linear infinite alternate;
}

.btnStart{
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(to right, transparent 50%, rgb(0, 125, 228) 50%, rgb(0, 183, 255));
    background-size:200%;
    transition: all 0.4s ease-in-out;
}
.btnStart:hover{
    background-position:100%;
    border: rgb(0, 125, 228);
    box-shadow: 3px 3px 23px 3px rgb(0, 125, 228);

}


@keyframes rotateAnimation {
    0% {
        transform: rotateY(10deg);
        -webkit-transform: rotateY(10deg);
        -moz-transform: rotateY(10deg);
        -ms-transform: rotateY(10deg);
        -o-transform: rotateY(10deg);
        box-shadow: #0d5c8022 0px 0px 30px 14px;

}
    100% {
        transform: rotateY(-10deg);
        -webkit-transform: rotateY(-10deg);
        -moz-transform: rotateY(-10deg);
        -ms-transform: rotateY(-10deg);
        -o-transform: rotateY(-10deg);
        box-shadow: #00b3d75b 0px 0px 30px 14px;

}
}














    /* service container */
.bg2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    /* background-color: #000000b0; */
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-top: 5%;
    /* background-color: #007BFF; */
}
.titleSecNoservice{
    margin-top: 5%;
    font-family: serif;
    color: rgb(249, 249, 249);
    font-size: 30px;
}



.wrapper{
    width:100%;
    height:auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: aqua; */
    flex-shrink: 0;
}
.wrapper .box{
    position: relative;
    width:300px;
    height:400px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius:15px;
    margin:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
    transform: perspective(800px) ;
    -webkit-transform: perspective(800px) ;
    -moz-transform: perspective(800px) ;
    -ms-transform: perspective(800px) ;
    -o-transform: perspective(800px) ;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    background-color: rgba(255, 255, 255, 0.008);
    flex-shrink: 0!important;
    animation: colorAnim 2s linear infinite alternate;
    -webkit-animation: colorAnim 2s linear infinite alternate;
}
.wrapper .box:hover{
    animation: none;
    box-shadow: 0px 0px 50px rgb(8, 156, 255);
    -webkit-animation: none;
}

@keyframes colorAnim {
0% {
    box-shadow: rgba(8, 156, 255, 0.02) 0px 0px 20px 0px;

}
100% {
    box-shadow: rgba(8, 156, 255, 0.283) 0px 0px 20px 0px;

}
}
.wrapper .description{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
    height: 45%;
}
.wrapper h2{
    color:#f5f5f5;
    font-size:1.5vw;
    text-align: center;
    font-family: 'Acme', sans-serif;
    width: 98%;
    height: 20%;
    /* background-color: red; */
}
.wrapper p{
    color:#ccc;
    margin:20px 10px;
    font-family: 'Fira Code', monospace;
}
.desciDTXT{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70%;
    width: 90%;
    height: 40%;
    /* background-color: rgb(13, 0, 255); */
}
.wrapper .moreService{
    position: relative;
    color: rgb(218, 218, 218);
    width: 50%;
    text-align: center;
    height: 20%;
    border: solid 1px rgba(199, 199, 199, 0.592);
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    cursor: pointer;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    overflow: hidden;
    font-size: 1.3vw;
}
.moreService:hover{
    border-color: rgba(0, 145, 255, 0);
}

/* Animation button more  */


.moreService span {
    position: absolute;
    display: block;
}

.moreService span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    border-radius: 100%;
    background: linear-gradient(90deg, transparent, rgb(8, 156, 255));
    animation: btn-anim1 1s linear infinite;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.moreService span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(180deg, transparent, rgb(8, 156, 255));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.moreService span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    border-radius: 100%;
    background: linear-gradient(270deg, transparent, rgb(8, 156, 255));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.moreService span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(360deg, transparent, rgb(55, 218, 255));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
@media screen and (max-width:1000px) {
    .wrapper .box{
        width: 50vw;
       
    }
    .wrapper{
        flex-direction: column;
    }
}
.ecranLCDIZ{
    width:70vw;
    position: absolute;
    height: 35vw;
    background-color: rgba(0, 136, 255, 0);
    top:90px;
    left:auto;
    z-index: 6;
    border: solid 20px black;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.ecranLCD{
    width:70vw;
    position: absolute;
    height: 40vw;
    background-color: rgba(0, 136, 255, 0);
    top:90px;
    z-index: 5;
    box-shadow: 0px -23vw 0px 23vw #000913;
}
/* @media screen and (min-width:1280px) {
    .ecranLCD{
        box-shadow: 0px -13vw 0px 23vw #000913;
    } 
}
@media screen and (max-width:690px) {
    .ecranLCD{
        box-shadow: 0px -33vw 0px 250px #000913;
    } 
}
@media screen and (max-width:450px) {
    .ecranLCD{
        box-shadow: 0px -50vw 0px 250px #000913;
    } 
}
@media screen and (max-width:350px) {
    .ecranLCD{
        box-shadow: 0px -76vw 0px 250px #000913;
    } 
} */
.btfNT{
    position:absolute;
    z-index: 1000!important;
}