*{
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
body{
  display: flex;
  /* background-image: url("../images/bg.jpg"); */
  /* background-color:#010101; */
  background-color: #f5f8fb;
  /* background-color: #ff0000; */

  background-image: linear-gradient((to right, transparent 50%, #0a110e 50%, #000000a6));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  /* width: 100vw; */
}

.emptyGraph{
  width: 100vw;
  height: 100px;
}
.eg1{
  height: 50px;
}
.eg2{
  height: 5vw;
}
.graphContentUp{
  width: 100vw;
  height: auto;
  background-color:#000913;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.presentationGraphContent{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
}
.leftGraph{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: blue; */
}
.rightGraph{
  display: flex;
  width: 45%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(81, 255, 0); */
}
.designImageGraph{
  width: 70%;
  height: auto;
}
.titleGraph{
  align-self: flex-start;
  color: #fff;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;

}
.swiper-wrapper{
  z-index: 40;
}
.textGraph{
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
}
.textDesign{
  /* background-color: red; */
  color: white;
  text-align: end;
  font-family: fantasy;
  margin-right: 7%;
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  
}
.bg-service-visuel .navContent{
  /* background-color: red; */
  height: auto;
  align-items: center;
  justify-content: flex-start;
}
.bg-service-visuel .nav{
  /* background-color: beige; */
}
.bg-service-visuel .logo{
  /* background-color: blue; */
 
}
  .bg-service-visuel
  {
    width: 100vw;
    height: 100vh;
    max-height: 50vw;
    background: linear-gradient(135deg, #000913 0%, #000913 10%, #000913 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 0%;
  }
  .imgSlideGraph{
    /* z-index: 40; */
  }
  .titleDesignDown{
    display: flex;
    position: relative;
    justify-content: center;
    color: #fff;
    font-size: 3vw;
    font-family: sans-serif;
    /* background-color: red; */
    margin-top: -4%;
    width: 100%;
    z-index: 3;
    text-shadow: 0 0 30px;
  }
  .textDesignDown{
    /* background-color: red; */
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5vw;
    font-family: sans-serif;
    width: 100%;
    height: auto;
  }
  .textInsideDesign{
    color: #fff;
    width: 50%;
    font-size: 15px;
    font-family: sans-serif;
  }
  .btnContentDesign{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }
  .btnDesignGraph{
    background-color: #161c3495;
    background-image: linear-gradient((to right, #0f111a98 50%, #0f111a 50%, #090b10));
    color: #fff;
    width: 20vw;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 32px 1px #0078c218;
    font-family: sans-serif;
    transition: ease-in-out 0.7s;
    -webkit-transition: ease-in-out 0.7s;
    -moz-transition: ease-in-out 0.7s;
    -ms-transition: ease-in-out 0.7s;
    -o-transition: ease-in-out 0.7s;
}
  .btnDesignGraph:hover{
    background-color: #2bd2ff;   
    box-shadow: #2bd1ffcc 0px 0px 34px 9px; 
  }

  /* le swiper slide */
  .swiper{
    width: 44%;
  }
  .swiper-container {
    /* width: 100%; */
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 18vw;
    height: auto;
    margin: 0 1%;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    filter: blur(2px);
    z-index: 40;
  }
  .swiper-slide-active{
      filter: blur(0px);
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  /* description en bas du slider */

  .swiper::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%; /* Hauteur de la zone floue, 5% dans cet exemple */
    backdrop-filter: blur(1%); /* Flou de 1% pour la zone spécifiée */
}
.textContentGrf{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: yellow; */
}
.leftGrf{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.classTitleSectionGrf{
  font-family: sans-serif;
  color: #010101;
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
  /* background-color: red; */
  width: 100%;
}
.cTSGrf{
  text-align: left;
  /* background-color: red; */
  width: 100%;
}

.paraGrf{
  font-family: sans-serif;
  color: #010101;
  font-size: 1.5vw;
  text-align: justify;

}
.imgGrf{
  width: 100%;
  height: auto;
}
.rightGrf{
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tCgrf{
  margin-top: 1%;
}



.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100px;
  height: 80px;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.container{
  margin-top: 3%;
  width: 100vw;
}





.btn {
  position: relative;
  width: 15vw;
  height: 3vw;
  align-self: flex-start;
  margin-top: 1%;
  
}
.btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.btn:hover a {
  letter-spacing: 3px;
  text-decoration: none;
  color: #ffffff;
  text-shadow: #010101 1px 1px 73px;
}
.btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
  text-decoration: none;
}
.btn:hover a::before {
  transform: skewX(45deg) translateX(200%);
  text-decoration: none;
}
.btn::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btn::before,
.btn::after {
  background: #2bd2ff;
  box-shadow: 0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff,
    0 0 60px #2bd2ff;
}
a{
  text-decoration: none!important;
}

 .menuDerService1 a:hover{
  color: white!important;
}
@media screen and (max-width:1000px) {
  .bg-service-visuel{
    height: auto;
    max-height: 10000vh;
  }
  .btn {
    width: 25vw;
    height: 7vw;
    
    
  }
}